<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366055138384-f2lb9io1o6qtutddpunrb6s0unibdejp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366055138384-f2lb9io1o6qtutddpunrb6s0unibdejp</string>
	<key>API_KEY</key>
	<string>AIzaSyAZx9OZhG65KZm-lSnGB9l8SgTlQBgnMkI</string>
	<key>GCM_SENDER_ID</key>
	<string>366055138384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.jhhs.623281.GingerBuild</string>
	<key>PROJECT_ID</key>
	<string>gingerbread-build</string>
	<key>STORAGE_BUCKET</key>
	<string>gingerbread-build.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366055138384:ios:12f5c2524d96a7e8695d55</string>
</dict>
</plist>